{% macro render_post_card(post, user_id, visualizacion_previa=None, next_url_editar=None) %}
    <article class="post relative">  
        {% if user_id == post.user_id %}
            <div class="dropdown absolute top-2 right-2">
                <button class="dropdown-btn text-gris">
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" 
                    fill="currentColor" stroke="white" stroke-width="2" stroke-linecap="round" 
                    stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline 
                    icon-tabler-settings">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 
                    1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 
                    1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 
                    2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724
                    1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 
                    -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 
                    -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065" />
                    <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" /></svg>
                </button>
                <ul class="dropdown-content">
                    <li>
                            <button 
                                type="button"
                                data-title="¿Estas seguro de eliminar esta publicación?"
                                data-message="Esta acción no se puede deshacer."
                                data-action="/eliminar_post/{{ post.id }}"
                                class="open_delete_modal w-37.5 px-4 py-2 rounded-2xl text-white
                                 bg-red-600 hover:bg-red-700">
                                Eliminar post
                            </button>
                    </li>
                </ul>
            </div>
        {% endif %}

        <h2 class="text-2xl sm:text-3xl font-semibold text-azul-marino">{{ post.titulo }}</h2>
        <div class="flex gap-3 my-2 text-gris-oscuro">
            <small class="sm:text-base">📅 {{ post.created_at | tiempo_relativo }}</small>
            <small class="sm:text-base">👤 {{ post.autor_nombre }}</small>
        </div>
        <hr class="mb-5 text-gris-claro">
        {% if visualizacion_previa %}
            <p class="post__contenido mb-4">{{ post.contenido | crear_preview | safe}}</p>
        {% else %}
            <p class="post__contenido">{{ post.contenido | safe }}</p>
        {% endif %}

        {% for media in post.archivos %}
                <a href="{{ media.ruta_archivo }}" target="_blank">
                    📄 {{ media.nombre_original }}
                </a><br>
        {% endfor %}
        
        {% if visualizacion_previa %}
            <div class="flex gap-4 items-center mt-5">
                <div>
                    <p>💬 {{ post.total_comentarios }} Comentarios</p>
                </div>
                <div class="grow">
                    <a href="{{ url_for('posts.visualizar_post', post_id=post.id) }}"
                    class="block text-center bg-azul-rey text-white hover:bg-azul-rey-hover
                    py-2 px-4 rounded-xl shadow-lg">📄 Ver post</a>
                </div>
            </div>
        {% endif %}
    </article>
{% endmacro %}
