<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='CSS/output.css') }}"> -->
    <title>Blog Academico - {{ titulo }}</title>
</head>
<body>
    <header>
        <h1>Blog Academico</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Inicio</a>
                    <a href="{{ url_for('login') }}?form=iniciar">Iniciar Sesion</a>
                    <a href="{{ url_for('login') }}?form=registrar">Registrate</a>
                    <a href="{{ url_for('perfil') }}">Perfil</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            {% endwith %}
        </section>
        {% block contenido %}
        {% endblock %}
    </main>

    <footer>
        <p>Footer - Osvaldo Valdivia</p>
    </footer>
</body>
</html>