{% extends "base.html" %}

{% block contenido %}

    <section>
    {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
        <ul class="flashes">
          {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    </section>

    <section>
    {% if posts %}
        <ul>
            {% for post in posts %}
                <li>
                    <h2>{{ post.titulo }}</h2>
                    <small>{{ post.created_at |  tiempo_relativo }}</small>
                    <small>{{ post.autor_nombre }}</small>
                    <p>{{ post.contenido | safe }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
            <!-- Si no hay posts, dos caminos según sesión -->
            {% if user_id %}
                <p>No hay posts todavía. <a href="{{ url_for('crear_post') }}">Sé el primero en comentar</a>.</p>
            {% else %}
                <p>No hay posts todavía. <a href="{{ url_for('login') }}?form=registrar">Regístrate</a> para crear el primero.</p>
            {% endif %}
    {% endif %}
    </section>

    <div>
        <a href="{{ url_for('crear_post') }}">Crea un post</a>
    </div>

{% endblock %}