<style>
    .post{
        border: 2px solid;
        margin-bottom: 1rem;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        list-style: none;
        padding: 10px;
    }

    /* Clase que JS añadirá para mostrar el menú */
    .dropdown-content.show {
    display: block;
    }

</style>
{% extends "base.html" %}
{% from "macros/_post_card.html" import render_post_card %}

{% block contenido %}
    <h1>Perfil</h1>

    <div>
        <button>Mis datos</button>
        <button>Mis posts</button>
        <button>Mis comentarios</button>
    </div>

    <section>
        <h2>Hola {{ datos_personales.nombre_usuario }}</h2>
        <p>Correo: {{ datos_personales.correo }}</p>
        <p>Creado en: {{datos_personales.creado_en }}</p>

        <hr>
        <section id="editar-perfil">
            <h2>Editar Perfil</h2>
            <form method="POST" action="{{ url_for('editar_perfil') }}">
                <div>
                    <label for="nombre_usuario">Nombre de Usuario:</label>
                    <input type="text" id="nombre_usuario" name="nombre_usuario" 
                    value="{{ datos_personales.nombre_usuario }}" required>
                </div>
                <div>
                    <label for="correo">Correo:</label>
                    <input type="email" id="correo" name="correo" 
                    value="{{ datos_personales.correo }}" required>
                </div>
                <div>
                    <label for="contraseña_actual">Contraseña Actual (requerida para cambios):</label>
                    <input type="password" id="contraseña_actual" 
                    name="contraseña_actual" required>
                </div>

                <div>
                    <label for="nueva_contraseña">Nueva Contraseña (opcional):</label>
                    <input type="password" id="nueva_contraseña" name="nueva_contraseña">
                </div>

                <div>
                    <label for="confirmar_contraseña">Confirmar Nueva Contraseña:</label>
                    <input type="password" id="confirmar_contraseña" name="confirmar_contraseña">
                </div>
                
                <button type="submit">Guardar Cambios</button>
            </form>
            <div>
                <a href="{{ url_for('cerrar_sesion') }}">Cerrar Sesion</a>
                <button
                    type="button"
                    data-title="¿Estas seguro de eliminar de forma permanente esta cuenta?"
                    data-message="Esta acción no se puede deshacer."
                    data-action="/eliminar_cuenta/{{ user_id }}"
                    class="open_delete_modal">
                Eliminar Cuenta</button>
            </div>
        </section>
    </section>

    <section>
        <ul>
            {% for post in posts %}
                {{ render_post_card(post, user_id) }}
            {% endfor %}
        </ul>
        {% for p in paginas %}
                {% if p == "..." %}
                    <span>...</span>
                {% elif p == pagina %}
                    <strong>{{ p }}</strong>
                {% else %}
                    <a href="{{ url_for('perfil', pagina=p) }}">{{ p }}</a>
                {% endif %}
        {% endfor %}
    </section>

    <script>
        document.querySelectorAll('.dropdown-btn').forEach(function(button) {
            button.addEventListener('click', function() {
                const dropdown = this.closest('.dropdown');
                const menu = dropdown.querySelector('.dropdown-content');
                menu.classList.toggle('show');
            });
        });
    </script>
{% endblock %}