<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/output.css') }}">
    <title>Blog Academico - {{ titulo }}</title>
    <style>
        dialog {
            border: none;
            border-radius: .8rem;
            padding: 2rem;
            max-width: 500px;
            width: 90%;
            background: white;
            color: #333;
            margin: auto;
        }

        /* Estilo para el fondo oscuro */
        dialog::backdrop {
            background-color: rgba(0, 0, 0, 0.5);
        }

        .nav__item{
            display: flex;
            align-items: center;
            gap: .6rem;
        }

        .nav__item svg{
            color: var(--color-azul-rey)
        }
    </style>
</head>
<body class="min-h-screen flex flex-col">

    <header class="bg-azul-rey text-white
    sticky top-0 z-10">
        <div class="contenedor h-17.5 flex items-center justify-between">

            <h1 class="text-2xl font-bold"><a class="text-white" href="{{ url_for('posts.index') }}">Blog Richi</a></h1>

            <a href="{{ url_for('posts.crear_post') }}" title="Crear post" 
            class="flex gap-2 px-4 py-2 border-2 rounded-2xl border-azul-rey-claro text-white">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" 
                fill="white" stroke="currentColor" stroke-width="2" stroke-linecap="round" 
                stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-pencil-plus">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4" />
                <path d="M13.5 6.5l4 4" /><path d="M16 19h6" /><path d="M19 16v6" /></svg>
                Crea tu post
            </a>

            <nav class="shadow-lg opacity-0 pointer-events-none absolute top-17.5 left-0 
            w-full bg-azul-rey-claro text-black transition-opacity duration-500 
            md:opacity-100 md:static md:w-auto md:shadow-none">
                <ul class="flex flex-col gap-5 p-4 md:flex-row md:gap-5 md:py-0">
                    <li class="nav__item">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" 
                            viewBox="0 0 24 24" fill="currentColor" stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" 
                            class="icon icon-tabler icons-tabler-outline icon-tabler-home-2">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M5 12l-2 0l9 -9l9 9l-2 0" />
                            <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" />
                            <path d="M10 12h4v4h-4l0 -4" /></svg>
                        </span>
                        <a href="{{ url_for('posts.index') }}">Inicio</a>
                    </li>
                    <li class="nav__item">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" 
                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" 
                            stroke-linecap="round" stroke-linejoin="round" 
                            class="icon icon-tabler icons-tabler-outline icon-tabler-user-key">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
                            <path d="M6 21v-2a4 4 0 0 1 4 -4h5" />
                            <path d="M18.5 18.5l-3.5 3.5l-1.5 -1.5" />
                            <path d="M18.554 18.414a2 2 0 1 1 2.828 -2.828a2 2 0 0 1 -2.828 2.828" />
                            <path d="M16 19l1 1" /></svg>
                        </span>
                        <a href="{{ url_for('auth.iniciar_sesion') }}">Iniciar Sesion</a>
                    </li>
                    <li class="nav__item">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" 
                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" 
                            stroke-linecap="round" stroke-linejoin="round" 
                            class="icon icon-tabler icons-tabler-outline icon-tabler-user-plus">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
                            <path d="M16 19h6" /><path d="M19 16v6" />
                            <path d="M6 21v-2a4 4 0 0 1 4 -4h4" /></svg>
                        </span>
                        <a href="{{ url_for('auth.registrar') }}">Registrate</a>
                    </li>
                    <li class="nav__item">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" 
                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" 
                            stroke-linecap="round" stroke-linejoin="round" 
                            class="icon icon-tabler icons-tabler-outline icon-tabler-user-circle">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M3 12a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                            <path d="M9 10a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
                            <path d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855" /></svg>
                        </span>
                        <a href="{{ url_for('auth.perfil') }}">Perfil</a>
                    </li>
                </ul>
            </nav>

            <button id="btn-menu" class="">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" 
                    viewBox="0 0 24 24" fill="currentColor" stroke="currentColor" stroke-width="2" 
                    stroke-linecap="round" stroke-linejoin="round" 
                    class="icon icon-tabler icons-tabler-outline icon-tabler-menu-2">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M4 6l16 0" />
                    <path d="M4 12l16 0" /><path d="M4 18l16 0" />
                    </svg>
                </span>
                <span class="hidden">
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36"
                     viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" 
                     stroke-linecap="round" stroke-linejoin="round" 
                     class="icon icon-tabler icons-tabler-outline icon-tabler-x">
                     <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                     <path d="M18 6l-12 12" /><path d="M6 6l12 12" />
                    </svg>
                </span>
            </button>
        </div>
    </header>

    <main class="flex-1 flex flex-col justify-center">
        <section class="contenedor">
            {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <ul class="flashes">
                {% for category, message in messages %}
                    <li class="alert {{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            {% endwith %}
        </section>
        {% block contenido %}
        {% endblock %}
    </main>

    <dialog id="confirm_modal">
        <div class="text-center">
            <h2 id="confirm_modal_title"
            class="text-2xl text-azul-marino font-bold"></h2>

            <p id="confirm_modal_message"
            class="text-gris-oscuro my-4"></p>

            <div class="confirm_modal-buttons flex justify-center gap-4">
                <button id="confirm_modal_cancel"
                class="border border-gris rounded-xl px-8 py-2">Cancelar</button>
                <form id="confirm_modal_form" method="POST">
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button type="submit" id="confirm_modal_confirm"
                    class="bg-red-600 hover:bg-red-700 text-white px-8 py-2
                    rounded-xl">Confirmar</button>
                </form>
            </div>
        </div>
    </dialog>

    <footer class="bg-azul-rey text-white">
        <div class="contenedor h-17.5 flex justify-between items-center">
            <p class="text-2xl">© 2026 <strong>Blog Richi</strong></p>
            <p>Aprende, Comparte e Inspira</p>
        </div>
    </footer>

    <script>
        const confirmModal = document.getElementById('confirm_modal');
        const btnMenu = document.getElementById('btn-menu');

        function openConfirmModal({ title, message, confirmText, action, next_url }) {
            document.getElementById('confirm_modal_title').textContent = title;
            document.getElementById('confirm_modal_message').textContent = message;
            document.getElementById('confirm_modal_confirm').textContent = confirmText || 'Confirmar';
            document.getElementById('confirm_modal_form').action = action;
            document.getElementById('confirm_modal_form').querySelector('input[name="next"]').value = next_url || '{{ request.path }}';
            confirmModal.showModal();
        };

        document.querySelectorAll('.open_delete_modal').forEach(function(button) {
            button.addEventListener('click', function() {
                openConfirmModal({
                    title: this.dataset.title,
                    message: this.dataset.message,
                    confirmText: 'Eliminar',
                    action: this.dataset.action,
                    next_url: this.dataset.nextUrl
                });
            });
        });

        document.getElementById('confirm_modal_cancel').addEventListener('click', () => confirmModal.close());

        btnMenu.addEventListener('click', () => {
            const nav = document.querySelector('nav');
            const iconMenu = btnMenu.querySelector('span:first-child');
            const iconClose = btnMenu.querySelector('span:last-child');

            nav.classList.toggle('opacity-0');
            nav.classList.toggle('pointer-events-none');

            iconMenu.classList.toggle('hidden');
            iconClose.classList.toggle('hidden');
        });
    </script>
</body>
</html>