{% extends "base.html" %}
{% from "macros/_form_post.html" import form_post %}

{% block contenido %}

    <section>
    {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
        <ul class="flashes">
          {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    </section>

    <h1>Crear nuevo Post</h1>
    
    {{ form_post(
        url_for('crear_post'),
        submit_text='Crear Post'       
    ) }}
{% endblock %}