@import "tailwindcss";

@theme{
    /* Color principal */
    --color-azul-rey: #1D4ED8;
    --color-azul-rey-hover: #1E40AF;
    --color-azul-rey-claro: #DBEAFE;

    /* Colores secundarios */
    --color-azul-marino: #1E3A8A;
    --color-azul-pizarra: #334155;

    /* Neutros */
    --color-blanco: #FFFFFF;
    --color-blanco-suave: #F8FAFC;
    --color-gris-claro: #E2E8F0;
    --color-gris: #94A3B8;
    --color-gris-oscuro: #475569;
    --color-negro-suave: #1F2937;

    /* Acentos */
    --color-dorado-suave: #D4A017;
    --color-verde-exito: #15803D;
    --color-rojo-error: #DC2626;
    --color-naranja-advertencia: #EA580C;

    --shadow-card: 0 4px 6px rgba(0, 0, 0, 0.5);

}

@layer base{
    button{cursor: pointer;}

    button:disabled{
        opacity: 0.5;
        pointer-events: none;
    }
    a{
        color: var(--color-azul-marino)
    }
}

@layer utilities{
    .post, .comentario{
        padding: 2rem;
        border-radius: 0.5rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    }

    .post__contenido{
        white-space: pre-wrap;
    }
}

@layer components{
    .contenedor{
        width: min(1200px, 90%);
        margin: 0 auto;
    }

    .submit__formulario{
        border: none;
        border-radius: 12px;
        padding: .8rem 0;
        cursor: pointer;
        font-weight: bold;
        transition: 
            transform 0.5s ease,
            box-shadow 0.5s ease;

        &:hover{
            transform: translateY(-2px);
            box-shadow: 0 8px 20px rgba(0,0,0,0.15);
        }

        &:active{
            transform: translateY(0);
            box-shadow: 0 4px 10px rgba(0,0,0,0.12);
        }
    }

    .input__formulario {
        height: 75px;
        position: relative;
        background-color: inherit;

        & input {
            width: 100%;
            padding: 0.8rem 0.7rem;
            border: 1px solid;
            outline: none;
            transition: border-color 0.3s ease;

            &:focus {
                border-color: var(--color-azul-marino);
            }

            &:focus + label,
            &:not(:placeholder-shown) + label{
                top: -0.5rem;
                left: 0.7rem;
                font-size: 0.8rem;
                transform: translateY(0);
                background: inherit; 
                padding: 0 .3rem;
            }
        }

        & label {
            position: absolute;
            top: 30%;
            transform: translateY(-30%);
            left: 0.7rem;
            pointer-events: none;
            transition: all 0.3s ease;
        }

        & button{
            position: absolute;
            top: 30%;
            transform: translateY(-30%);
            right: 0.7rem;
        }

        & span{
            opacity: 0;
            font-size: .8rem;
            color: var(--color-rojo-error);
        }
    }

    .dropdown-content {
        display: none;
        position: absolute;
        right: 25px;
        top: 25px;
        list-style: none;
    }

    /* Clase que JS añadirá para mostrar el menú */
    .dropdown-content.show {
        display: block;
    }
}