{% extends "base.html" %}

{% block contenido %}
    <section class="contenedor flex flex-col justify-center gap-8 h-full">

        <div class="overflow-hidden rounded-3xl bg-white shadow-2xl">
            <div class="bg-slate-800 p-8 text-white lg:w-1/2 flex flex-col">
                <h1 class="text-3xl sm:text-4xl font-bold text-center">Qué bueno es tenerte de vuelta</h1>
                <p class="my-8 text-lg text-gris-claro">
                    Accede a tu cuenta y continúa explorando publicaciones y conversaciones.
                </p>
                <div class="flex flex-col gap-4 items-center sm:flex-row">
                    <a href="{{ url_for('auth.solicitar_recuperacion') }}" 
                    class="text-white underline hover:no-underline">
                        ¿Olvidaste tu contraseña?
                    </a>
                    <a href="{{ url_for('auth.registrar') }}" 
                    class="text-white underline hover:no-underline">
                        Regístrate
                    </a>
                </div>
            </div>

            <div class="p-8">
                <form method="post" id="iniciar" class="form flex flex-col gap-4 bg-white">
                    <h1 class="text-3xl font-semibold mb-4 text-gris-oscuro sm:text-4xl">Inicia sesión</h1>
                    <div class="input__formulario">
                        <input type="email" id="correo" name="correo" placeholder="" required>
                        <label for="correo">Correo</label>
                        <span></span>
                    </div>
                    <div class="input__formulario">
                        <input type="password" id="contraseña" name="contraseña" minlength="8" 
                        placeholder="" required>
                        <label for="contraseña">Contraseña</label>
                        <button type="button" class="tooglePassword" data-visible="false">👁️</button>
                        <span></span>
                    </div>
                    <button type="submit" disabled class="submit__formulario block
                    text-white bg-azul-pizarra w-full">Ingresar</button>
                </form>
            </div>
        </div>
    </section>

    <script type="module">
        import { inicializarValidacionFormulario } from '../static/JS/formValidador.js'
        const form = document.querySelector('form')
        inicializarValidacionFormulario(form)
    </script>

    <script src="{{ url_for('static', filename='JS/tooglePassword.js') }}"></script>
{% endblock %}