{% extends "base.html" %}

{% block contenido %}
<section class="">
        {% if token_valido %}
            <section style="box-shadow: var(--shadow-card)"
            class="w-[90%] max-w-l mx-auto p-8 rounded-3xl flex flex-col gap-4 bg-white">
                <h2 class="text-3xl text-azul-marino font-bold text-center">🔐 Nueva Contraseña 🔐</h2>
                <p>Ingresa tu nueva contraseña</p>
                
                <form method="POST" class="flex flex-col gap-4 bg-inherit">
                    <div class="input__formulario">
                        <input type="password" id="contraseña" name="nueva_contraseña" 
                        placeholder="" required minlength="8">
                        <label for="nueva_contraseña">Nueva Contraseña</label>
                        <button type="button" class="tooglePassword" data-visible="false">👁️</button>
                        <span></span>
                    </div>
                    <div class="input__formulario">
                        <input type="password" id="contraseña" name="confirmar_contraseña" 
                        placeholder="" required minlength="8">
                        <label for="confirmar_contraseña">Confirmar Contraseña</label>
                        <button type="button" class="tooglePassword" data-visible="false">👁️</button>
                        <span></span>
                    </div>
                    
                    <button type="submit" disabled
                     class="submit__formulario bg-azul-pizarra text-white">Restablecer Contraseña</button>
                </form>
            </section>

            <script type="module">
                import { inicializarValidacionFormulario } from '../../static/JS/formValidador.js'
                const form = document.querySelector('form')
                inicializarValidacionFormulario(form)
            </script>

            <script src="{{ url_for('static', filename='JS/tooglePassword.js') }}"></script>

        {% else %}
            <section style="box-shadow: var(--shadow-card)"
            class="w-[90%] max-w-l mx-auto p-8 rounded-3xl flex flex-col gap-8 bg-white">
                <h2 class="text-2xl text-azul-marino font-bold text-center">🚫 Token Inválido 🚫</h2>
                <div class="mt-auto text-center">
                    <p><a href="{{ url_for('auth.solicitar_recuperacion')}}">← Solicitar nuevo enlace</a></p>
                    <p class="mt-4"><a href="{{ url_for('auth.iniciar_sesion') }}">← Ir al Login</a></p>
                </div>
            </section>
        {% endif %}
</section>
{% endblock %}