{% extends "base.html" %}

{% block contenido %}
    <section>
    
        <form method="post" class="w-[90%] max-w-l mx-auto p-8 rounded-3xl flex flex-col gap-8 bg-white"
        style="box-shadow: var(--shadow-card)">
            <div>
                <h1 class="text-3xl text-azul-marino font-bold mb-4 text-center">Resetea tu contraseña</h1>
                <p class="text-gris-oscuro">Introduzca la dirección de correo electrónico verificada de su cuenta de usuario y 
                    le enviaremos un enlace para restablecer la contraseña.</p>
            </div>

            <div class="input__formulario">
                <input type="email" name="correo" id="correo" placeholder="" required>
                <label for="correo">Correo Electronico</label>
                <span></span>
            </div>

            <button type="submit" disabled
            class="submit__formulario bg-azul-pizarra text-white">Enviar Correo</button>
        </form>

        <script type="module">
            import { inicializarValidacionFormulario } from '../static/JS/formValidador.js'
            const form = document.querySelector('form')
            inicializarValidacionFormulario(form)
        </script>
    </section>
{% endblock %}