<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¿Olvidaste tu contraseña?</title>
</head>
<body>
    
    <form method="post">
        <h1>Resetea tu contraseña</h1>
        <p>Introduzca la dirección de correo electrónico verificada de su cuenta de usuario y le enviaremos un enlace para restablecer 
            la contraseña</p>

        <div>
            <input type="email" name="correo" id="correo" required>
            <label for="correo">Correo Electronico</label>
        </div>

        <button type="submit">Enviar Correo</button>
    </form>

    {% if mensaje %}
    <h1>{{mensaje}}</h1>
    {% endif %}
</body>
</html>